@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');


.home {
  height: 70vh;
  display: flex;
  align-items: center;

}

.text-section {
  text-align: center;
}

.call-text {
  font-family: 'Secular One', sans-serif;
  font-size: 4rem;
  color: #F1554C;
}

.custom {
  font-family: 'Secular One', sans-serif;
  background-color: #16171d;
  color: #F1554C;
  border: 2px solid #F1554C;
  border-radius: 50px;
}

.my-button:hover {
  font-family: 'Secular One', sans-serif;
  background-color: #F1554C;
  color: #16171d;
}

img {
  width: 100%;
  height: auto;
}

#create_resume {
  transform: scale(1.5);
}

@media (max-width: 576px) { 
  img {
    margin-top: 2rem;
  }
  .call-text {
    font-size: 2.2rem;
  }
  .row {
    align-items: center;
  }
  #create_resume {
    transform: scale(1);
  }
 }