#resume_form {
  max-width: 600px;
}

::selection {
  background-color: #F1554C;
  color: white;
}

#first_name, #second_name, #email, #linkedin, #github, #portfolio {
  background-color: #16171d;
  color: #F1554C;
  border: 1px solid #F1554C;
}

#first_name:focus, #second_name:focus, #email:focus {
  border: 1px solid #F1554C;
}

.mb-3 {
  color: #F1554C;
}

#submit_button {
  background-color: #F1554C;
  border: #F1554C;
  transition: all .2s ease-in-out;
}

#submit_button:hover {
  transform: scale(1.1);
}